.login-content{
    background: url('../images/time.jpg');
    background-position: 119% 0%;
    background-size: 185px;
    background-repeat: no-repeat;
}
.page-content{
    background: url('../images/time.jpg');
    background-position: 105% 100%;
    background-size: 300px;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}
header {
    height:55px;
    background:#ccc;
    border:1px solid #CCC;
    width:70%;
    margin:0px auto;
    color:#fff;
}
footer {
    background-color: #ccc;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height:25px;
    width: 70%;
    margin:0px auto;
    overflow:hidden;
    text-align: center;
}
.logo{
    width: 170px;
    padding: 10px;
}
.nav-stacked{
font-size: 13px;
width: 150px;
text-align: left;
}
.datepicker{
    padding-right: 10px !important;
}
.padding-10{
    padding: 20px;
}
.padding-6{
    padding: 6px;
}
.padding-12{
    padding: 12px;
}
.margin-right10{
    margin-right: 10px !important;
}
.add_leave_form,.profile label {
    text-align: left !important;
}
.profile_logo{
    width: 120px;
}
.login-content{
   margin-top:250px !important;
   width: 380px !important;
   float:none;
   box-shadow: 10px 10px 5px #ccc;
   height: auto !important;
}
.main-content{
    margin-top: 25px;
    padding: 20px;
    border: 2px solid #ccc;
    box-shadow: 10px 10px 5px #ccc;
    height: 700px;
    overflow: hidden;
    overflow-y: auto;
}
.calendar_content{
    overflow: hidden;
}
.leave_table{
    font-size: 14px;
}
.select-menu {
    font-size: 12px !important;
    height: 25px !important;
}
.designation-menu{
    font-size: 14px !important;
    height: 34px !important;
}
.view_leave_calendar{
    cursor: pointer;
}