.login-content{
    background: url('../images/leave.jpg');
    background-position: 0% 50%;
    background-size: 180px;
    background-repeat: no-repeat;
}
.page-content{
    /*background: url('../images/time.jpg');*/
    background-position: 105% 100%;
    background-size: 300px;
    background-repeat: no-repeat;
}
.login-header{
    margin-left: 100px;
}
.tag-line{
    color:#a0a0a0;
}
a {
    text-decoration: none;
    color: #337ab7;
}
header {
    height:55px;
    background:#ccc;
    border:1px solid #CCC;
    width:70%;
    margin:0px auto;
    color:#fff;
    border-bottom: 3px solid #337ab7;

}
footer {
    background-color: #ccc;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height:25px;
    width: 70%;
    margin:0px auto;
    overflow:hidden;
    text-align: center;
    border-top: 3px solid #337ab7;
}
.logo{
    width: 170px;
    padding: 10px;
}
.nav-stacked{
font-size: 13px;
width: 180px;
text-align: left;
}
.datepicker{
    padding-right: 10px !important;
}
.padding-10{
    padding: 20px;
}
.padding-6{
    padding: 6px;
}
.padding-12{
    padding: 12px;
}
.margin-right10{
    margin-right: 10px !important;
}
.margin-left-20{
    margin-left: -20px;
}
.add_leave_form,.profile label {
    text-align: left !important;
}
.profile_logo{
    width: 120px;
}
.login-content{
   margin-top:250px !important;
   width: 380px !important;
   float:none;
   box-shadow: 10px 10px 5px #ccc;
   height: auto !important;
}
.main-content{
    margin-top: 25px;
    padding: 20px;
    border: 2px solid #ccc;
    box-shadow: 10px 10px 5px #ccc;
    height: 740px;
    overflow: hidden;
    overflow-y: auto;
    width: 70%;
}
.calendar_content{
    overflow: hidden;
}
.leave_table{
    font-size: 14px;
}
.select-menu {
    font-size: 12px !important;
    height: 25px !important;
}
.designation-menu{
    font-size: 14px !important;
    height: 34px !important;
}
.view_leave_calendar{
    cursor: pointer;
}
.login-input-section{
    margin-left: 75px;
}
.show_more{
    color:#337ab7;
}

/*calendar*/
.calendar-table table, th, td {
   border: 1px solid black;
}
.calendar-table table{
    width: 200px;
}
.calendar-table td{
    font-size: 12px;
    color: #333;
}
.calendar-table  a{
    font-size: 12px;
    background: #337ab7;
    color: #fff;
}